


<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
  <div class="row">
    <div class="col-md-6">
    <label for="name"> Name </label>
    <input type="text" id="name" name="name" ngModel>
    </div>
    <div class="col-md-6">
    <label for="dept"> Dept </label>
    <input type="text" id="dept">
    </div>

  </div>
  <div class="row">
  <div class="col-md-6">
  <label for="age"> Age </label>
  <input type="text" id="age" ngModel>
  </div>
  <div class="col-md-6">
  <label for="medium"> medium </label>
  <select name="medium">
    <option value="Science">Science</option>
    <option value="">Please choose</option>
  
  </select>

  </div>

</div>
<br>
  <div class="row">
    <button type="submit"  > Submit </button>
  </div>
</form>


<h3>
  Reactive Forms
</h3>

<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
  <div class="row">
    <div class="col-md-6">
    <label for="name"> Name </label>
    <input type="text" id="name" name="name" ngModel>
    </div>
    <div class="col-md-6">
    <label for="dept"> Dept </label>
    <input type="text" id="dept">
    </div>

  </div>
  <div class="row">
  <div class="col-md-6">
  <label for="age"> Age </label>
  <input type="text" id="age" ngModel>
  </div>
  <div class="col-md-6">
  <label for="medium"> medium </label>
  <select name="medium">
    <option value="Science">Science</option>
    <option value="">Please choose</option>
  
  </select>

  </div>

</div>
<br>
  <div class="row">
    <button type="submit"  > Submit </button>
  </div>
</form>